Node-Red-txt/CheckFlat.txt
[{"id":"2dd4ea79.da43d6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"640eb1a.066465","type":"function","z":"2dd4ea79.da43d6","name":"AccelerationX","func":"return {payload:msg.payload.state.AccelerationX};","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["6634e396.31c50c"]]},{"id":"aa88c1b9.f3736","type":"ibmiot in","z":"2dd4ea79.da43d6","authentication":"boundService","apiKey":"490b478a.a6ae2","inputType":"devicestate","logicalInterface":"","ruleId":"","deviceId":"CorinneBacle","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":480,"wires":[["f2ee62bf.41cac","640eb1a.066465","668e0ca.d7b63f4"]]},{"id":"f2ee62bf.41cac","type":"debug","z":"2dd4ea79.da43d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":380,"wires":[]},{"id":"6634e396.31c50c","type":"switch","z":"2dd4ea79.da43d6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-0.1","vt":"num"},{"t":"gt","v":"0.1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":480,"wires":[["76afbcff.e318ac"],["f2adec2c.d594f"],["d1211bec.7edb18"]],"outputLabels":["negative","positive","stable"]},{"id":"76afbcff.e318ac","type":"template","z":"2dd4ea79.da43d6","name":"Down","field":"payload","fieldType":"msg","syntax":"mustache","template":"Down","x":590,"y":420,"wires":[["ae35b2e7.a5a2c8"]]},{"id":"f2adec2c.d594f","type":"template","z":"2dd4ea79.da43d6","name":"Up","field":"payload","fieldType":"msg","syntax":"mustache","template":"Up","x":590,"y":480,"wires":[["ae35b2e7.a5a2c8"]]},{"id":"d1211bec.7edb18","type":"template","z":"2dd4ea79.da43d6","name":"Flat","field":"payload","fieldType":"msg","syntax":"mustache","template":"AccelerationX flat : ({{payload}}) ","x":590,"y":540,"wires":[["ae35b2e7.a5a2c8"]]},{"id":"ae35b2e7.a5a2c8","type":"rbe","z":"2dd4ea79.da43d6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":740,"y":500,"wires":[["ed1d1e66.a7211"]]},{"id":"ed1d1e66.a7211","type":"debug","z":"2dd4ea79.da43d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":580,"wires":[]},{"id":"71b84127.acc438","type":"rbe","z":"2dd4ea79.da43d6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":660,"wires":[["db97f8b4.44957","e62fc835.edf088"]]},{"id":"db97f8b4.44957","type":"debug","z":"2dd4ea79.da43d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":660,"wires":[]},{"id":"668e0ca.d7b63f4","type":"function","z":"2dd4ea79.da43d6","name":"OrientationB","func":"return {payload:msg.payload.state.OrientationB};","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["5e8b2b4e.24bf0c"]]},{"id":"5e8b2b4e.24bf0c","type":"switch","z":"2dd4ea79.da43d6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-1","vt":"num"},{"t":"gt","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":640,"wires":[["83953145.f6e87"],["6570efa1.a0fe28"],["3f4f3262.e6de6e"]],"outputLabels":["negative","positive","stable"]},{"id":"83953145.f6e87","type":"template","z":"2dd4ea79.da43d6","name":"Down","field":"payload","fieldType":"msg","syntax":"mustache","template":"Down","x":590,"y":620,"wires":[["71b84127.acc438"]]},{"id":"6570efa1.a0fe28","type":"template","z":"2dd4ea79.da43d6","name":"Up","field":"payload","fieldType":"msg","syntax":"mustache","template":"Up","x":590,"y":660,"wires":[["71b84127.acc438"]]},{"id":"3f4f3262.e6de6e","type":"template","z":"2dd4ea79.da43d6","name":"Flat","field":"payload","fieldType":"msg","syntax":"mustache","template":"Flat","x":590,"y":700,"wires":[["71b84127.acc438"]]},{"id":"e62fc835.edf088","type":"switch","z":"2dd4ea79.da43d6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"Flat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":880,"wires":[[]],"outputLabels":["negative"]},{"id":"490b478a.a6ae2","type":"ibmiot","z":"","name":"n20oas","keepalive":"60","serverName":"n20oas.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
