Node-Red-txt/ConnectIoTPhoneDemotoIoTStarter.txt
[{"id":"4064e044.588a6","type":"tab","label":"Connect IoTPhone to IoT starter","disabled":false,"info":""},{"id":"8f195227.fa0438","type":"ibmiot in","z":"4064e044.588a6","authentication":"apiKey","apiKey":"7361aaf4.a0ed2c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"CorinneBacle","applicationId":"","deviceType":"iotphone","eventType":"+","commandType":"","format":"json","name":"IBM IoT html5 Phone","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":220,"wires":[["816b6ec4.830168","1365fcc0.805743"]]},{"id":"816b6ec4.830168","type":"debug","z":"4064e044.588a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":220,"wires":[]},{"id":"1365fcc0.805743","type":"ibmiot out","z":"4064e044.588a6","authentication":"boundService","apiKey":"7361aaf4.a0ed2c","outputType":"evt","deviceId":"deviceId","deviceType":"iotphone","eventCommandType":"deviceType","format":"json","data":"payload","qos":0,"name":"IBM IoT starter","service":"registered","x":460,"y":320,"wires":[]},{"id":"7361aaf4.a0ed2c","type":"ibmiot","z":"","name":"POTIoTCaptureData","keepalive":"60","serverName":"ju2tvu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]