Node-Red-txt/Manage device.txt
[{"id":"1c700ec.15a6b71","type":"comment","z":"1e8c5b91.d5f7e4","name":"Get ThePhone data","info":"","x":150,"y":460,"wires":[]},{"id":"d2723461.ab8408","type":"inject","z":"1e8c5b91.d5f7e4","name":"ThePhone","topic":"","payload":"{\"deviceId\":\"ThePhone\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["bc46f3cb.e1f468"]]},{"id":"bc46f3cb.e1f468","type":"device-manager","z":"1e8c5b91.d5f7e4","auth":"bluemix","name":"getThePhone","apiKey":"","deviceType":"Android","method":"Get","deviceId":"","password":"","ignore":false,"x":460,"y":520,"wires":[["bab5e6e3.d389a8"]]},{"id":"bab5e6e3.d389a8","type":"debug","z":"1e8c5b91.d5f7e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":520,"wires":[]},{"id":"48f4ebc8.c0cb0c","type":"inject","z":"1e8c5b91.d5f7e4","name":"CreateThePhone","topic":"","payload":"{\"deviceId\":\"ThePhone\",\"authToken\": \"ThePhone\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["68860835.a8da1"]]},{"id":"68860835.a8da1","type":"device-manager","z":"1e8c5b91.d5f7e4","auth":"bluemix","name":"CreateAndroidDevice","apiKey":"","deviceType":"Android","method":"Create","deviceId":"","password":"","ignore":false,"x":480,"y":220,"wires":[["3c0b896f.5671fe"]]},{"id":"3c0b896f.5671fe","type":"debug","z":"1e8c5b91.d5f7e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"bf872af0.1e7708","type":"comment","z":"1e8c5b91.d5f7e4","name":"Android device creation and update","info":"","x":200,"y":160,"wires":[]},{"id":"4a33d03f.3ff9e8","type":"inject","z":"1e8c5b91.d5f7e4","name":"Update Location","topic":"","payload":"{\"deviceId\":\"ThePhone\",\"deviceInfo\":{\"descriptiveLocation\":\"Tour Eiffel\"},\"metadata\":{\"longitude\":2.294694,\"latitude\":48.858093}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["3caf161.0d81e6a"]]},{"id":"3caf161.0d81e6a","type":"device-manager","z":"1e8c5b91.d5f7e4","auth":"bluemix","name":"updateAndroidDevice","apiKey":"","deviceType":"Android","method":"Update","deviceId":"","password":"","ignore":false,"x":480,"y":280,"wires":[["97928acd.3e81b8"]]},{"id":"97928acd.3e81b8","type":"debug","z":"1e8c5b91.d5f7e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"c1f0a7bf.116108","type":"comment","z":"1e8c5b91.d5f7e4","name":"Send location as a message","info":"","x":180,"y":340,"wires":[]},{"id":"1e374507.71e063","type":"inject","z":"1e8c5b91.d5f7e4","name":"ThePhone","topic":"","payload":"{\"deviceId\":\"ThePhone\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["d90b9f46.d284f"]]},{"id":"9f8ad7bc.73bd6","type":"debug","z":"1e8c5b91.d5f7e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":360,"wires":[]},{"id":"17084fe7.c35658","type":"device-type-manager","z":"1e8c5b91.d5f7e4","auth":"bluemix","name":"getDeviceTypes","apiKey":"","deviceType":"","classId":"Device","method":"GetAll","deviceTypeId":"","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":false,"x":460,"y":100,"wires":[["e38b5c4a.c895f8"]]},{"id":"96820244.d8dfc8","type":"inject","z":"1e8c5b91.d5f7e4","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["17084fe7.c35658"]]},{"id":"e38b5c4a.c895f8","type":"debug","z":"1e8c5b91.d5f7e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"6c495e35.8a9f38","type":"comment","z":"1e8c5b91.d5f7e4","name":"Get all device types","info":"","x":150,"y":40,"wires":[]},{"id":"d90b9f46.d284f","type":"device-manager","z":"1e8c5b91.d5f7e4","auth":"bluemix","name":"getThePhone","apiKey":"","deviceType":"Android","method":"Get","deviceId":"","password":"","ignore":false,"x":320,"y":400,"wires":[["1e5e9ad1.e652a5","476b4381.b7e5d4"]]},{"id":"1e5e9ad1.e652a5","type":"template","z":"1e8c5b91.d5f7e4","name":"Create message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"d\":{\"lat\":{{payload.metadata.latitude}},\"lon\":{{payload.metadata.longitude}}}}","output":"str","x":540,"y":400,"wires":[["9f8ad7bc.73bd6","b8458711.9b8ad8"]]},{"id":"476b4381.b7e5d4","type":"debug","z":"1e8c5b91.d5f7e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":360,"wires":[]},{"id":"b8458711.9b8ad8","type":"ibmiot out","z":"1e8c5b91.d5f7e4","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"ThePhone","deviceType":"Android","eventCommandType":"accel","format":"json","data":"payload","qos":"","name":"Send to IBM IoT Platform ThePhone Android","service":"registered","x":830,"y":400,"wires":[]}]