Node-Red-txt/NodeRED Dashboard Device Edition.txt
[{"id":"8936fc9f.ca2a28","type":"tab","label":"DeviceEdition","disabled":false,"info":""},{"id":"292cc6f9.f4a412","type":"ui_dropdown","z":"8936fc9f.ca2a28","name":"","label":"","place":"Select a device","group":"f0ee1a31.7504d8","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":700,"y":220,"wires":[["18812236.7df336"]]},{"id":"32290dfb.b5ed5a","type":"device-manager","z":"8936fc9f.ca2a28","auth":"bluemix","name":"getDevices","apiKey":"","deviceType":"iotphone","method":"GetAll","deviceId":"","password":"","ignore":false,"x":170,"y":220,"wires":[["82796bde.e2d388","41a7b071.f4fb28"]]},{"id":"82796bde.e2d388","type":"function","z":"8936fc9f.ca2a28","name":"buildDropDownOptions","func":"var newMsg = {};\nnewMsg.options = [];\nvar deviceId;\nfor (var i in msg.payload.results) {\n    deviceId = msg.payload.results[i].deviceId;\n    newMsg.options[i] = String(deviceId);\n}\n\n// sort by deviceId\nnewMsg.options.sort();\n\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["292cc6f9.f4a412"]]},{"id":"4f74a19b.52d1b","type":"comment","z":"8936fc9f.ca2a28","name":"Select device in a list","info":"","x":100,"y":100,"wires":[]},{"id":"bc32d636.4a34a","type":"function","z":"8936fc9f.ca2a28","name":"formatQueryParameter","func":"var newMsg = {};\nnewMsg.payload = {\"deviceId\" : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["82a0b1d8.fcb7d"]]},{"id":"18812236.7df336","type":"switch","z":"8936fc9f.ca2a28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":400,"wires":[["bc32d636.4a34a"]]},{"id":"82a0b1d8.fcb7d","type":"device-manager","z":"8936fc9f.ca2a28","auth":"bluemix","name":"findDevice","apiKey":"","deviceType":"iotphone","method":"Get","deviceId":"","password":"","ignore":false,"x":590,"y":400,"wires":[["ac82a148.5e6de","87ebeb83.a520e"]]},{"id":"4f82e619.03613","type":"ui_text","z":"8936fc9f.ca2a28","group":"bfb08ded.a7a13","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{msg.payload.deviceId}}","layout":"row-left","x":580,"y":580,"wires":[]},{"id":"58c77785.5d27c8","type":"ui_text","z":"8936fc9f.ca2a28","group":"bfb08ded.a7a13","order":2,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload.deviceInfo.descriptiveLocation}}","layout":"row-left","x":580,"y":620,"wires":[]},{"id":"1e5c7b68.aca66d","type":"ui_button","z":"8936fc9f.ca2a28","name":"","group":"bfb08ded.a7a13","order":0,"width":0,"height":0,"passthru":false,"label":"Out of Order","color":"white","bgcolor":"red","icon":"fa-exclamation-triangle","payload":"1","payloadType":"num","topic":"","x":590,"y":720,"wires":[["3155fcf2.a48324"]]},{"id":"845a39b2.6f0618","type":"ui_button","z":"8936fc9f.ca2a28","name":"","group":"bfb08ded.a7a13","order":0,"width":0,"height":0,"passthru":false,"label":"In Service","color":"White","bgcolor":"Green","icon":"fa-wifi","payload":"0","payloadType":"num","topic":"","x":580,"y":760,"wires":[["3155fcf2.a48324"]]},{"id":"a852b142.c825c","type":"ui_button","z":"8936fc9f.ca2a28","name":"","group":"bfb08ded.a7a13","order":0,"width":"0","height":"0","passthru":false,"label":"Pause","color":"white","bgcolor":"gray","icon":"fa-pause","payload":"2","payloadType":"num","topic":"","x":570,"y":800,"wires":[["3155fcf2.a48324"]]},{"id":"fb82a92b.178b38","type":"ui_ui_control","z":"8936fc9f.ca2a28","name":"Inject","x":50,"y":160,"wires":[["32290dfb.b5ed5a","b3ea6454.9683"]]},{"id":"b3ea6454.9683","type":"function","z":"8936fc9f.ca2a28","name":"Clear at init","func":"msg.payload = {}\nmsg.payload.deviceId = null;\nmsg.payload.metadata = {};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["c9ae3b51.6cffa"]]},{"id":"ac82a148.5e6de","type":"function","z":"8936fc9f.ca2a28","name":"deleteMsgStatusBeforeUpdate","func":"delete msg.payload['status'];\nflow.set('device',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["5ad964dc.27c40c","b7ea161e.dfe448"]]},{"id":"a36b5d90.ebdc08","type":"ui_template","z":"8936fc9f.ca2a28","group":"f0ee1a31.7504d8","name":"map","order":0,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":990,"y":920,"wires":[[]]},{"id":"3b0d4500.176ef4","type":"template","z":"8936fc9f.ca2a28","name":"buildHtml","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       #map {\n    height: 500px;\n    width: 100%;\n   }\n    </style>\n  </head>\n  <body>\n    <div id=\"map\"></div>\n    <script>\n     {{{payload.js}}}\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSfj1OLFphhSba7x8&callback=initMap\">\n    </script>\n  </body>\n</html>","output":"str","x":840,"y":920,"wires":[["a36b5d90.ebdc08"]]},{"id":"cf1cda58.b1144","type":"template","z":"8936fc9f.ca2a28","name":"buildJavascript","field":"payload.js","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var map;\nvar marker;\nvar infoWindows = [];\nvar datas;\nvar zoom = 5;\nvar center = {lat: 47.221616, lng: 2.115400};\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        datas = data;\n        initMap();\n        showMarker();\n    });\n})(scope);\n\nfunction initMap() {\n    map = new google.maps.Map(document.getElementById('map'), {\n        zoom: zoom,\n        mapTypeControl: false,\n        streetViewControl:false,\n        center: center\n    }); \n    drawMarkers();\n}\nfunction drawMarkers() {\n    marker = new google.maps.Marker({\n        position: {lat: datas.metadata.latitude, lng: datas.metadata.longitude},\n        map: map\n    })\n    \n    var content = \"<h2>\" + datas.deviceId + \"</h2>\";\n    content = content + \"<div><b>Latitude: </b>\" + datas.metadata.latitude + \"</div>\";\n    content = content + \"<div><b>Longitude: </b>\" + datas.metadata.longitude + \"</div>\";\n    content = content + \"<div><b>Location: </b>\" + datas.deviceInfo.descriptiveLocation + \"</div>\";\n    \n    var infoWindow = new google.maps.InfoWindow();\n    \n    google.maps.event.addListener(marker,'click', (function(marker,content,infoWindow){ \n        return function() {\n            // close all info windows\n            for (var infoWindow of infoWindows) {\n                infoWindow.close();\n            }\n            \n            infoWindow.setContent(content);\n            infoWindow.open(map,marker);\n        };\n    })(marker,content,infoWindow)); \n    \n    infoWindows.push(infoWindow);\n}\nfunction showMarker() {\n    // open marker info window\n    google.maps.event.trigger(marker, \"click\");\n    map.panTo(marker.getPosition());\n    //map.setZoom(zoom + 4);\n}\n    ","output":"str","x":660,"y":920,"wires":[["3b0d4500.176ef4"]]},{"id":"1482ff44.a4ec61","type":"function","z":"8936fc9f.ca2a28","name":"formatInformation","func":"\nmsg.enabled = msg.payload.deviceId !== null;\n\n// set the current deviceId\nglobal.set(\"DeviceIdContext\",msg.payload.deviceId);\n\n// set the device status\nvar status = parseInt(msg.payload.metadata.status) || 0;\nmsg.formatted_status = (status === 0 ? \"Not installed\" : \"Installed\");\n\nvar state = parseInt(msg.payload.metadata.transmission_status) || 0;\nif (state === 0) {\n    msg.formatted_state = \"In service\";\n} else if (state === 1) {\n    msg.formatted_state = \"Out of order\";\n} else if (state === 2) {\n    msg.formatted_state = \"Pause\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":860,"wires":[["58c77785.5d27c8","4f82e619.03613","cf1cda58.b1144","1e5c7b68.aca66d","845a39b2.6f0618","a852b142.c825c","dd924edf.0cdb4","64c37dd2.833a7c"]]},{"id":"3155fcf2.a48324","type":"function","z":"8936fc9f.ca2a28","name":"setMetadata","func":"var status = msg.payload;\nmsg.payload = flow.get('device');\nmsg.payload.metadata.transmission_status = status;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":760,"wires":[["d8636992.96498"]]},{"id":"d8636992.96498","type":"device-manager","z":"8936fc9f.ca2a28","auth":"bluemix","name":"updateDevice","apiKey":"","deviceType":"iotphone","method":"Update","deviceId":"","password":"","ignore":false,"x":980,"y":760,"wires":[["8d3758ed.3079e"]]},{"id":"2cb5eb6b.f2bd6c","type":"function","z":"8936fc9f.ca2a28","name":"reloadDevice","func":"var newMsg = {};\nnewMsg.payload = {\"deviceId\" : msg.payload.deviceId};\nreturn newMsg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["82a0b1d8.fcb7d"]]},{"id":"41a7b071.f4fb28","type":"debug","z":"8936fc9f.ca2a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":280,"wires":[]},{"id":"dd924edf.0cdb4","type":"ui_text","z":"8936fc9f.ca2a28","group":"bfb08ded.a7a13","order":4,"width":0,"height":0,"name":"","label":"State","format":"{{msg.formatted_state}}","layout":"row-center","x":570,"y":660,"wires":[]},{"id":"64c37dd2.833a7c","type":"debug","z":"8936fc9f.ca2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":940,"wires":[]},{"id":"16a1e354.6ad9e5","type":"ui_gauge","z":"8936fc9f.ca2a28","name":"","group":"b6292c8d.cb8ec8","order":0,"width":"0","height":"0","gtype":"gage","title":"Acceleration X","label":"","format":"{{msg.payload.d.ax}}","min":"-10","max":"10","colors":["#ffff00","#59ba45","#ca3838"],"seg1":"-1","seg2":"1","x":740,"y":1080,"wires":[]},{"id":"d9052f90.bfda","type":"ui_gauge","z":"8936fc9f.ca2a28","name":"","group":"f86b5a9.aae9e28","order":6,"width":"0","height":"0","gtype":"gage","title":"Acceleration Y","label":"","format":"{{msg.payload.d.ay}}","min":"-10","max":"+10","colors":["#0080ff","#e6e600","#ca3838"],"seg1":"-1","seg2":"1","x":740,"y":1140,"wires":[]},{"id":"2640e1c2.184f76","type":"ui_gauge","z":"8936fc9f.ca2a28","name":"","group":"112cbd51.87785b","order":7,"width":"0","height":"0","gtype":"gage","title":"Acceleration Z","label":"Km/h","format":"{{msg.payload.d.az}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-1","seg2":"1","x":740,"y":1200,"wires":[]},{"id":"168ec66d.9df262","type":"ibmiot in","z":"8936fc9f.ca2a28","authentication":"boundService","apiKey":"4c32081d.c69c68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"sensorData","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":80,"y":1140,"wires":[["cfc7882d.27b0a8","7f78528a.8ab96c"]]},{"id":"cfc7882d.27b0a8","type":"switch","z":"8936fc9f.ca2a28","name":"Filter current device messages","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"DeviceIdContext","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1140,"wires":[["16a1e354.6ad9e5","d9052f90.bfda","2640e1c2.184f76"]]},{"id":"7f78528a.8ab96c","type":"ui_text","z":"8936fc9f.ca2a28","group":"b6292c8d.cb8ec8","order":0,"width":0,"height":0,"name":"","label":"Device","format":"{{msg.deviceId}}","layout":"row-center","x":710,"y":1020,"wires":[]},{"id":"97d6233f.f6d16","type":"inject","z":"8936fc9f.ca2a28","name":"","topic":"","payload":"DeviceIdContext","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1240,"wires":[["9e71f587.76d718"]]},{"id":"9e71f587.76d718","type":"debug","z":"8936fc9f.ca2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":1240,"wires":[]},{"id":"a760fa6c.87486","type":"comment","z":"8936fc9f.ca2a28","name":"Display in map","info":"","x":680,"y":860,"wires":[]},{"id":"c9ae3b51.6cffa","type":"link out","z":"8936fc9f.ca2a28","name":"","links":["1c0304b0.0dc573"],"x":695,"y":160,"wires":[]},{"id":"5ad964dc.27c40c","type":"link out","z":"8936fc9f.ca2a28","name":"","links":["1c0304b0.0dc573"],"x":1015,"y":400,"wires":[]},{"id":"1c0304b0.0dc573","type":"link in","z":"8936fc9f.ca2a28","name":"Display","links":["5ad964dc.27c40c","c9ae3b51.6cffa"],"x":35,"y":860,"wires":[["1482ff44.a4ec61"]]},{"id":"8d3758ed.3079e","type":"link out","z":"8936fc9f.ca2a28","name":"","links":["489696fc.31094"],"x":1115,"y":760,"wires":[]},{"id":"489696fc.31094","type":"link in","z":"8936fc9f.ca2a28","name":"Reload","links":["8d3758ed.3079e"],"x":135,"y":480,"wires":[["2cb5eb6b.f2bd6c"]]},{"id":"34878c39.9120c4","type":"comment","z":"8936fc9f.ca2a28","name":"Display Messages from the device","info":"","x":180,"y":1040,"wires":[]},{"id":"675656a9.7ec4b8","type":"comment","z":"8936fc9f.ca2a28","name":"Display device info and change state","info":"","x":160,"y":660,"wires":[]},{"id":"87ebeb83.a520e","type":"debug","z":"8936fc9f.ca2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":460,"wires":[]},{"id":"b7ea161e.dfe448","type":"debug","z":"8936fc9f.ca2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":480,"wires":[]},{"id":"f0ee1a31.7504d8","type":"ui_group","z":"","name":"Device selection","tab":"e592505f.6307e","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfb08ded.a7a13","type":"ui_group","z":"","name":"Device information","tab":"e592505f.6307e","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6292c8d.cb8ec8","type":"ui_group","z":"","name":"Acceleration","tab":"e592505f.6307e","order":3,"disp":false,"width":"6","collapse":false},{"id":"f86b5a9.aae9e28","type":"ui_group","z":"","name":"Acceleration Y","tab":"e592505f.6307e","order":4,"disp":false,"width":"6","collapse":false},{"id":"112cbd51.87785b","type":"ui_group","z":"","name":"Acceleration Z","tab":"e592505f.6307e","order":5,"disp":false,"width":"6","collapse":false},{"id":"4c32081d.c69c68","type":"ibmiot","z":"","name":"IoT4CP bacfkc","keepalive":"60","serverName":"bacfkc.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e592505f.6307e","type":"ui_tab","z":"","name":"Edit Device","icon":"mode_edit","order":4}]