Node-Red-txt/NodeRED Dashboard sample.txt
[{"id":"7e63e626.b7afb","type":"ui_button","z":"e0c58e.388db27","name":"","group":"c0fe9eb8.40903","order":1,"width":0,"height":0,"label":"Water Level 15","color":"black","bgcolor":"cyan","icon":"fa-tint","payload":"15","payloadType":"num","topic":"","x":228.5,"y":133,"wires":[["165043d9.7f9904","6c14c5bc.5e40cc"]]},{"id":"888befd0.6acfa","type":"ui_colour_picker","z":"e0c58e.388db27","name":"Color selector","label":"Colour picket","group":"ada93e30.f71df8","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":252.5,"y":743.2000122070312,"wires":[["903f13a9.845e88","698a2009.175ea","815374c0.dd4678"]]},{"id":"ed4d3933.131eb8","type":"ui_form","z":"e0c58e.388db27","name":"","label":"Please complete the form","group":"ab326410.352dc","order":1,"width":0,"height":0,"options":[{"label":"DeviceName","value":"Name","type":"text","required":true},{"label":"Device Id","value":"Number","type":"number","required":true},{"label":"Your Email","value":"Email","type":"email","required":false},{"label":"Password","value":"Password","type":"password","required":false},{"label":"I'm not a robot","value":"Checkbox","type":"checkbox","required":false},{"label":"I want to receive info via email","value":"Switch","type":"switch","required":false}],"formValue":{"Name":"","Number":"","Email":"","Password":"","Checkbox":false,"Switch":false},"payload":"","topic":"","x":257.5,"y":74.79997253417969,"wires":[[]]},{"id":"59f37664.28ee8","type":"ui_gauge","z":"e0c58e.388db27","name":"Water level","group":"c0fe9eb8.40903","order":5,"width":0,"height":0,"gtype":"wave","title":"Level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":907.5,"y":166,"wires":[]},{"id":"ad9453de.89346","type":"ui_button","z":"e0c58e.388db27","name":"","group":"c0fe9eb8.40903","order":2,"width":0,"height":0,"label":"Water Level 50","color":"black","bgcolor":"light blue","icon":"fa-shower","payload":"50","payloadType":"num","topic":"","x":228.5999755859375,"y":187.20001220703125,"wires":[["165043d9.7f9904","6c14c5bc.5e40cc"]]},{"id":"72bca121.a97a5","type":"ui_button","z":"e0c58e.388db27","name":"","group":"c0fe9eb8.40903","order":3,"width":0,"height":0,"label":"Water Level 85","color":"white","bgcolor":"blue","icon":"fa-bath","payload":"85","payloadType":"num","topic":"","x":224.5999755859375,"y":243.20001220703125,"wires":[["165043d9.7f9904","6c14c5bc.5e40cc"]]},{"id":"f9824a94.6cbe78","type":"ui_dropdown","z":"e0c58e.388db27","name":"","label":"Jauge level","group":"e61be8a9.98e7a","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"10","value":10,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"30","value":30,"type":"num"}],"payload":"","topic":"","x":216.5,"y":352.5999755859375,"wires":[["735ba0da.e47f98"]]},{"id":"165043d9.7f9904","type":"ui_numeric","z":"e0c58e.388db27","name":"","label":"Manual level","group":"c0fe9eb8.40903","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"10","x":496.5,"y":270.20001220703125,"wires":[["6c14c5bc.5e40cc"]]},{"id":"735ba0da.e47f98","type":"ui_gauge","z":"e0c58e.388db27","name":"","group":"e61be8a9.98e7a","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":436.5,"y":352.79998779296875,"wires":[]},{"id":"a6036c80.6a51e8","type":"ui_chart","z":"e0c58e.388db27","name":"","group":"c0fe9eb8.40903","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":902,"y":273,"wires":[[],[]]},{"id":"6c14c5bc.5e40cc","type":"link out","z":"e0c58e.388db27","name":"Water value","links":["2931381f.0c28e8"],"x":666,"y":203,"wires":[]},{"id":"2931381f.0c28e8","type":"link in","z":"e0c58e.388db27","name":"Water value","links":["6c14c5bc.5e40cc"],"x":771,"y":203,"wires":[["59f37664.28ee8","a6036c80.6a51e8","27be5c23.ae1114"]]},{"id":"2b6b27d8.e46458","type":"ui_text","z":"e0c58e.388db27","group":"2bec84cd.d6ef94","order":1,"width":0,"height":0,"name":"","label":"text sended","format":"{{msg.payload}}","layout":"row-spread","x":665,"y":491,"wires":[]},{"id":"e6023a9.cdac948","type":"ui_audio","z":"e0c58e.388db27","name":"Italian speech","group":"2bec84cd.d6ef94","voice":"","x":1092,"y":615,"wires":[]},{"id":"c07a0cfa.90c3","type":"ui_toast","z":"e0c58e.388db27","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Italian","x":644,"y":547,"wires":[]},{"id":"27be5c23.ae1114","type":"ui_template","z":"e0c58e.388db27","group":"c0fe9eb8.40903","name":"Even or Odd","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The number is</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":919,"y":338,"wires":[[]]},{"id":"6b09fca7.8f8c94","type":"ui_template","z":"e0c58e.388db27","group":"2bec84cd.d6ef94","name":"Send Hello World","order":3,"width":0,"height":0,"format":"<md-button ng-click=\"send({payload: 'Hello World'})\">\n    Click me to send a hello world\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"x":245,"y":496,"wires":[["2b6b27d8.e46458"]]},{"id":"149b2040.5ec628","type":"ui_template","z":"e0c58e.388db27","group":"ada93e30.f71df8","name":"Image","order":3,"width":0,"height":0,"format":"<img src=\"https://www.ibm.com/internet-of-things/common/img/cards/client-success/honda-rd.jpg?flush-cache=1486487917609\" alt=\"Mountain View\" style=\"width:304px;height:228px;\">","storeOutMessages":true,"fwdInMessages":true,"x":222,"y":670,"wires":[[]]},{"id":"14e6c1c1.d4e7e6","type":"ui_template","z":"e0c58e.388db27","group":"2bec84cd.d6ef94","name":"Send Ciao ciao","order":4,"width":0,"height":0,"format":"<md-button ng-click=\"send({payload: 'Ciao ciao'})\">\n    Click me to send a Ciao ciao\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"x":240,"y":556,"wires":[["2b6b27d8.e46458","c07a0cfa.90c3","2361884.097f978"]]},{"id":"2361884.097f978","type":"watson-text-to-speech","z":"e0c58e.388db27","name":"","lang":"it-IT","langhidden":"it-IT","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"it-IT_FrancescaVoice","voicehidden":"","format":"audio/wav","password":"","x":678,"y":615,"wires":[["ab9e52ac.f574f8"]]},{"id":"ab9e52ac.f574f8","type":"change","z":"e0c58e.388db27","name":"","rules":[{"t":"move","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":893,"y":615,"wires":[["e6023a9.cdac948"]]},{"id":"8f4f54bd.2ff798","type":"comment","z":"e0c58e.388db27","name":"Tab 1","info":"","x":139,"y":35,"wires":[]},{"id":"37b27345.a7f714","type":"comment","z":"e0c58e.388db27","name":"Tab 2","info":"","x":139,"y":427,"wires":[]},{"id":"903f13a9.845e88","type":"ui_template","z":"e0c58e.388db27","group":"ada93e30.f71df8","name":"Color Square","order":2,"width":0,"height":0,"format":"<div>\n    <p ng-style=\"{'background-color': msg.payload}\">\n    .\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":544,"y":705,"wires":[[]]},{"id":"698a2009.175ea","type":"ui_template","z":"e0c58e.388db27","group":"ada93e30.f71df8","name":"Color Result","order":5,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The result is</p>\n    <p ng-style=\"{'color': msg.payload}\">\n        HERE IT IS\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":543,"y":819,"wires":[[]]},{"id":"815374c0.dd4678","type":"ui_template","z":"e0c58e.388db27","group":"ada93e30.f71df8","name":"Color Square","order":4,"width":0,"height":0,"format":"<div>\n    <p ng-style=\"{'background-color': msg.payload}\">\n    .\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":541,"y":763,"wires":[[]]},{"id":"c0fe9eb8.40903","type":"ui_group","z":"","name":"Water level simulator","tab":"daa3b3d6.bf2b7","order":2,"disp":true,"width":"6"},{"id":"ada93e30.f71df8","type":"ui_group","z":"","name":"Color selector","tab":"963e264f.a41d9","order":2,"disp":true,"width":"6"},{"id":"ab326410.352dc","type":"ui_group","z":"","name":"Identification","tab":"daa3b3d6.bf2b7","order":1,"disp":true,"width":"6"},{"id":"e61be8a9.98e7a","type":"ui_group","z":"","name":"Test Gauge","tab":"daa3b3d6.bf2b7","order":3,"disp":true,"width":"6"},{"id":"2bec84cd.d6ef94","type":"ui_group","z":"","name":"Send a message","tab":"963e264f.a41d9","order":1,"disp":true,"width":"6"},{"id":"daa3b3d6.bf2b7","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard"},{"id":"963e264f.a41d9","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2}]