Node-Red-txt/NodeRedRulesDefinition and dashboard in NodeRed.txt
[{"id":"4f7f4cfe.21e1d4","type":"tab","label":"Rules","disabled":false,"info":""},{"id":"96ecdd1.40ecaa","type":"http request","z":"4f7f4cfe.21e1d4","name":"","method":"use","ret":"obj","url":"","tls":"","x":950,"y":300,"wires":[["2517ccd4.5bf84c"]]},{"id":"2517ccd4.5bf84c","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":300,"wires":[]},{"id":"641d10ed.5a457","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":575,"y":60,"wires":[]},{"id":"c87109f7.7bd99","type":"function","z":"4f7f4cfe.21e1d4","name":"Get logical interfaces","func":"msg.url=\"https://ff0h6y.internetofthings.ibmcloud.com/api/v0002/logicalinterfaces\";\nmsg.method=\"GET\";\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":100,"wires":[["641d10ed.5a457","8b541632.f23c98"]]},{"id":"5d751db.ed84ae4","type":"inject","z":"4f7f4cfe.21e1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":100,"wires":[["c87109f7.7bd99"]]},{"id":"df04135.f51307","type":"function","z":"4f7f4cfe.21e1d4","name":"Get current draft rules","func":"var logicalInterface = global.get('logicalInterfaceId');\nmsg.url=\"https://ff0h6y.internetofthings.ibmcloud.com/api/v0002/draft/logicalinterfaces/\"+ logicalInterface + \"/rules\";\nmsg.method=\"GET\";\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":300,"wires":[["ebe8e7c3.ed12c8","557e671c.a7008"]]},{"id":"ebe8e7c3.ed12c8","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":575,"y":260,"wires":[]},{"id":"27a25127.940b26","type":"inject","z":"4f7f4cfe.21e1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":300,"wires":[["df04135.f51307"]]},{"id":"a55789dc.3701b8","type":"function","z":"4f7f4cfe.21e1d4","name":"Set new rule","func":"var logicalInterface = global.get('logicalInterfaceId');\nmsg.url=\"https://ff0h6y.internetofthings.ibmcloud.com/api/v0002/draft/logicalinterfaces/\"+ logicalInterface + \"/rules\";\nmsg.method=\"POST\";\nmsg.payload={  \n \"name\" : \"AccelMax\",\n \"condition\" : \"$state.AccelerationX > $instance.metadata.AccelerationMax\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":399,"wires":[["d5b2fd13.463208","b69157e1.b2da48"]]},{"id":"f49323f7.8dad1","type":"inject","z":"4f7f4cfe.21e1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":399,"wires":[["a55789dc.3701b8"]]},{"id":"d5b2fd13.463208","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":575,"y":359,"wires":[]},{"id":"5f4d584c.c54e08","type":"inject","z":"4f7f4cfe.21e1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":499,"wires":[["42480bc2.295d44"]]},{"id":"42480bc2.295d44","type":"function","z":"4f7f4cfe.21e1d4","name":"Activate new rule","func":"var logicalInterface = global.get('logicalInterfaceId');\nmsg.url=\"https://ff0h6y.internetofthings.ibmcloud.com/api/v0002/draft/device/types/iotphone\";\nmsg.method=\"PATCH\";\nmsg.payload={  \n \"operation\": \"activate-configuration\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":499,"wires":[["8bb9abde.fd881","6c158d03.763a0c"]]},{"id":"8bb9abde.fd881","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":575,"y":459,"wires":[]},{"id":"f9707f55.a78a2","type":"function","z":"4f7f4cfe.21e1d4","name":"Get current rules","func":"var logicalInterface = global.get('logicalInterfaceId');\nmsg.url=\"https://ff0h6y.internetofthings.ibmcloud.com/api/v0002/logicalinterfaces/\"+ logicalInterface + \"/rules\";\nmsg.method=\"GET\";\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":579,"wires":[["653894f1.0b4e7c","532a5095.3d2a1"]]},{"id":"52679622.874bd8","type":"inject","z":"4f7f4cfe.21e1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":579,"wires":[["f9707f55.a78a2"]]},{"id":"653894f1.0b4e7c","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":575,"y":539,"wires":[]},{"id":"a5347dda.82f48","type":"inject","z":"4f7f4cfe.21e1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":200,"wires":[["1ef09159.a80aaf"]]},{"id":"1ef09159.a80aaf","type":"change","z":"4f7f4cfe.21e1d4","name":"","rules":[{"t":"set","p":"logicalInterfaceId","pt":"global","to":"5c3caab8c5d1250028de0b6b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":385,"y":200,"wires":[[]]},{"id":"8b541632.f23c98","type":"link out","z":"4f7f4cfe.21e1d4","name":"","links":["d580b73d.4cddd8"],"x":540,"y":100,"wires":[]},{"id":"d580b73d.4cddd8","type":"link in","z":"4f7f4cfe.21e1d4","name":"","links":["8b541632.f23c98","557e671c.a7008","b69157e1.b2da48","6c158d03.763a0c","532a5095.3d2a1"],"x":835,"y":300,"wires":[["96ecdd1.40ecaa"]]},{"id":"557e671c.a7008","type":"link out","z":"4f7f4cfe.21e1d4","name":"","links":["d580b73d.4cddd8"],"x":540,"y":300,"wires":[]},{"id":"b69157e1.b2da48","type":"link out","z":"4f7f4cfe.21e1d4","name":"","links":["d580b73d.4cddd8"],"x":540,"y":399,"wires":[]},{"id":"6c158d03.763a0c","type":"link out","z":"4f7f4cfe.21e1d4","name":"","links":["d580b73d.4cddd8"],"x":540,"y":499,"wires":[]},{"id":"532a5095.3d2a1","type":"link out","z":"4f7f4cfe.21e1d4","name":"","links":["d580b73d.4cddd8"],"x":540,"y":579,"wires":[]},{"id":"3803cc79.898774","type":"ibmiot in","z":"4f7f4cfe.21e1d4","authentication":"boundService","apiKey":"7361aaf4.a0ed2c","inputType":"ruletrig","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":760,"wires":[["8f39e7c7.052e1","df6e9c25.6ef6a"]]},{"id":"8f39e7c7.052e1","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":372,"y":680,"wires":[]},{"id":"5adc3b01.03a7c4","type":"ui_chart","z":"4f7f4cfe.21e1d4","name":"","group":"ea2d229e.fd5b4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":760,"wires":[[],[]]},{"id":"df6e9c25.6ef6a","type":"function","z":"4f7f4cfe.21e1d4","name":"","func":"var accelerationX = msg.payload.state.AccelerationX\nmsg.payload=accelerationX;\nmsg.topic=\"alertAccelerationX\";\nmsg.label=\"alertAccelerationX\";\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":760,"wires":[["5adc3b01.03a7c4","2665e381.03ccc4"]]},{"id":"2665e381.03ccc4","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":592,"y":720,"wires":[]},{"id":"dc5981a7.2844a","type":"function","z":"4f7f4cfe.21e1d4","name":"","func":"var accelerationX = msg.payload.state.AccelerationX\nmsg.payload=accelerationX;\nmsg.topic=\"AccelerationX\";\nmsg.label=\"AccelerationX\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":960,"wires":[["5adc3b01.03a7c4"]]},{"id":"d8044270.693cb","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":900,"wires":[]},{"id":"a33cb965.a465b","type":"ibmiot in","z":"4f7f4cfe.21e1d4","authentication":"boundService","apiKey":"7361aaf4.a0ed2c","inputType":"devicestate","logicalInterface":"","ruleId":"","deviceId":"CorinneBacle","applicationId":"","deviceType":"iotphone","eventType":"+","commandType":"","format":"json","name":"IBM IoT html5 Phone","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":960,"wires":[["dc5981a7.2844a","d8044270.693cb"]]},{"id":"335211c6.4216f6","type":"inject","z":"4f7f4cfe.21e1d4","name":"CleanChart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1160,"wires":[["fafdc1e7.6f7418","bab2dcf.002ab2"]]},{"id":"fafdc1e7.6f7418","type":"debug","z":"4f7f4cfe.21e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":1160,"wires":[]},{"id":"bab2dcf.002ab2","type":"function","z":"4f7f4cfe.21e1d4","name":"blank array","func":"var blankArray = [];\nmsg.payload=blankArray;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1060,"wires":[["5adc3b01.03a7c4"]]},{"id":"ab51c616.4cf37","type":"ui_button","z":"4f7f4cfe.21e1d4","name":"","group":"ea2d229e.fd5b4","order":1,"width":0,"height":0,"passthru":false,"label":"Cleanup chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":140,"y":1060,"wires":[["bab2dcf.002ab2"]]},{"id":"51a51d3d.93872c","type":"comment","z":"4f7f4cfe.21e1d4","name":"Need an updfate with your own logical interface Id","info":"","x":450,"y":160,"wires":[]},{"id":"7361aaf4.a0ed2c","type":"ibmiot","z":"","name":"POTIoTCaptureData","keepalive":"60","serverName":"ju2tvu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ea2d229e.fd5b4","type":"ui_group","z":"","name":"Default","tab":"26aa42db.6f904e","disp":true,"width":"6","collapse":false},{"id":"26aa42db.6f904e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]