Node-Red-txt/NodeRED Dashboard Device table.txt
[{"id":"339340a7.fe4f3","type":"tab","label":"Device Table","disabled":false,"info":""},{"id":"1024d41d.78f544","type":"template","z":"339340a7.fe4f3","name":"buildHtml","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    table.typetable {\n    \tborder: 1px solid black;\n    \tborder-collapse: collapse\n    }\n    tr,th,td {\n    \tborder: 1px solid black\n    }\n    tr:nth-child(even) {\n    \tbackground-color: #f2f3f4\n    }\n    th {\n    \tbackground-color: #0094CE;\n    \tcolor :white;\n    \tfont-weight:normal;\n    }\n    td.warn {\n        background-color: red\n    }\n</style>\n<table class=\"typetable\" width=\"100%\">\n    <tr>\n        <th>Device</th>\n        <th>Device Location</th>\n        <th>Longitude</th>\n        <th>Latitude</th>\n        <th>Status</th>\n    </tr>\n    {{#payload}}\n    <tr>\n        <td><a href=\"javascript:showMarker({{index}})\">{{device_id}}</a></td>\n        <td style=\"color:{{color}}\">{{#has_location}}{{location}}{{/has_location}}</td>\n        <td>{{#has_lat}}{{lat}}{{/has_lat}}</td>\n        <td>{{#has_lng}}{{lng}}{{/has_lng}}</td>\n        <td>{{#has_status}}{{status}}{{/has_status}}</td>\n    </tr>\n    {{/payload}}\n</table>\n","x":720,"y":280,"wires":[["d29bcc2b.13e3b"]]},{"id":"f1c4dc1f.e40f08","type":"device-manager","z":"339340a7.fe4f3","auth":"bluemix","name":"getDevices","apiKey":"","deviceType":"Android","method":"GetAll","deviceId":"","password":"","ignore":false,"x":330,"y":280,"wires":[["ebe007fd.72d2d"]]},{"id":"d29bcc2b.13e3b","type":"ui_template","z":"339340a7.fe4f3","group":"302d3de6.c8fefa","name":"table","order":1,"width":"21","height":"4","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":280,"wires":[[]]},{"id":"92168f80.be54e","type":"comment","z":"339340a7.fe4f3","name":"Table and map - Devices information","info":"","x":260,"y":180,"wires":[]},{"id":"d7cfc582.de2c78","type":"ui_button","z":"339340a7.fe4f3","name":"clear","group":"302d3de6.c8fefa","order":3,"width":"3","height":"1","passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":220,"wires":[["858d58e4.96ce1"]]},{"id":"858d58e4.96ce1","type":"template","z":"339340a7.fe4f3","name":"clearHtml","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"text-align:center;font-weight:bold;\">\n    Click on refresh and show devices table\n</div>","output":"str","x":560,"y":220,"wires":[["c6ff247d.4f805","d29bcc2b.13e3b"]]},{"id":"ebe007fd.72d2d","type":"function","z":"339340a7.fe4f3","name":"formatInformation","func":"var rmsg = {};\nrmsg.payload = [];\n\nfor (var result of msg.payload.results) {\n// format color for status\n    var color = \"red\";\n    if (result.metadata.transmission_status == 2) {\n            color = \"black\";\n        }\n    if (result.metadata.transmission_status === 0) {\n            color = \"green\";\n        }\n    \n    rmsg.payload.push({\n        index: index,\n        device_id: result.deviceId,\n        lat: result.metadata.latitude, \n        lng: result.metadata.longitude,\n       location: result.deviceInfo.descriptiveLocation,\n       status: result.metadata.transmission_status,\n       color: color,\n       has_status: (result.metadata.transmission_status !== undefined),\n        has_lng: (result.metadata.longitude !== undefined),\n        has_lat: (result.metadata.latitude !== undefined),\n        has_location: (result.deviceInfo.descriptiveLocation!== undefined)\n    });\n}\n\n// sort by deviceId\nrmsg.payload.sort( predicateBy(\"device_id\") );\nfunction predicateBy(prop){\n   return function(a,b){\n      if( a[prop] > b[prop]){\n          return 1;\n      }else if( a[prop] < b[prop] ){\n          return -1;\n      }\n      return 0;\n   }\n}\n\n// set index for the links\nvar index = 0;\nfor (var p of rmsg.payload) {\n    p.index = index;\n    index ++;\n}\n\nreturn rmsg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["1024d41d.78f544","c6ff247d.4f805"]]},{"id":"b87e4060.8b2ce8","type":"template","z":"339340a7.fe4f3","name":"buildHtml","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       #map {\n    height: 500px;\n    width: 100%;\n   }\n    </style>\n  </head>\n  <body>\n    <div id=\"map\"></div>\n    <script>\n     {{{payload.js}}}\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyCLSfj1OLFphhSba7x8&callback=initMap\">\n    </script>\n  </body>\n</html>","output":"str","x":720,"y":400,"wires":[["d1fe2445.261ae"]]},{"id":"d1fe2445.261ae","type":"ui_template","z":"339340a7.fe4f3","group":"302d3de6.c8fefa","name":"map","order":4,"width":"24","height":"7","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":400,"wires":[[]]},{"id":"c6ff247d.4f805","type":"template","z":"339340a7.fe4f3","name":"buildJavascript","field":"payload.js","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var map;\nvar markers = [];\nvar infoWindows = [];\nvar datas;\nvar zoom = 6;\nvar center = {lat: 47.221616, lng: 2.115400};\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        datas = data;\n    });\n})(scope);\n\nfunction initMap() {\n    map = new google.maps.Map(document.getElementById('map'), {\n        zoom: zoom,\n        center: center\n    }); \n    drawMarkers();\n}\nfunction drawMarkers() {\n    for (var d of datas) {\n        var marker = new google.maps.Marker({\n            position: {lat: d.lat, lng: d.lng},\n            map: map\n        })\n        \n        var content = \"<h2>\" + d.device_id + \"</h2>\";\n        content = content + \"<div><b>Latitude: </b>\" + d.lat + \"</div>\";\n        content = content + \"<div><b>Longitude: </b>\" + d.lng + \"</div>\";\n        content = content + \"<div><b>Location: </b>\" + d.location + \"</div>\";        \n        var infoWindow = new google.maps.InfoWindow();\n        \n        google.maps.event.addListener(marker,'click', (function(marker,content,infoWindow){ \n            return function() {\n                // close all info windows\n                for (var infoWindow of infoWindows) {\n                    infoWindow.close();\n                }\n                \n                infoWindow.setContent(content);\n                infoWindow.open(map,marker);\n            };\n        })(marker,content,infoWindow)); \n        \n        infoWindows.push(infoWindow);\n        markers.push(marker);\n    }\n}\nfunction showMarker(index) {\n    // open marker info window\n    var marker = markers[index];\n    google.maps.event.trigger(marker, \"click\");\n    map.panTo(marker.getPosition());\n    map.setZoom(zoom + 4);\n}\n    ","output":"str","x":740,"y":340,"wires":[["b87e4060.8b2ce8"]]},{"id":"9112ea1d.988678","type":"ui_button","z":"339340a7.fe4f3","name":"refresh","group":"302d3de6.c8fefa","order":2,"width":"3","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":260,"wires":[["f1c4dc1f.e40f08"]]},{"id":"a95ce9a.7e5c418","type":"ui_ui_control","z":"339340a7.fe4f3","name":"Init","x":150,"y":300,"wires":[["f1c4dc1f.e40f08"]]},{"id":"302d3de6.c8fefa","type":"ui_group","z":"","name":"Devices information","tab":"75c2f7d5.ade74","order":1,"disp":false,"width":"24","collapse":false},{"id":"75c2f7d5.ade74","type":"ui_tab","z":"","name":"Devices","icon":"room","order":1}]