Node-Red-txt/RLAC.txt
[{"id":"e68973af.50da2","type":"inject","z":"1045ba31.2123ee","name":"Click to have the goup Id","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["a282340.3b114d"]]},{"id":"a282340.3b114d","type":"http request","z":"1045ba31.2123ee","name":"getResourceGroups","method":"GET","ret":"obj","url":"https://jakzr4.internetofthings.ibmcloud.com/api/v0002/groups","tls":"","x":480,"y":120,"wires":[["5af15c97.1dc08c"]]},{"id":"5af15c97.1dc08c","type":"debug","z":"1045ba31.2123ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":120,"wires":[]},{"id":"2f9f44f8.3ab27c","type":"comment","z":"1045ba31.2123ee","name":"Getting resource groups","info":"","x":180,"y":80,"wires":[]},{"id":"a940aa86.ee55f8","type":"http request","z":"1045ba31.2123ee","name":"getDevicesByResourceGroup","method":"GET","ret":"obj","url":"https://jakzr4.internetofthings.ibmcloud.com/api/v0002/bulk/devices/{{topic}}/ids","tls":"","x":490,"y":280,"wires":[["186d6694.c1ba09"]]},{"id":"1bb8625.cdafc9e","type":"inject","z":"1045ba31.2123ee","name":"Update the group uid in the topic here","topic":"4f1b37b5-03cd-4e13-9610-65143363c4d5","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["a940aa86.ee55f8"]]},{"id":"186d6694.c1ba09","type":"debug","z":"1045ba31.2123ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"24f50336.1ec91c","type":"comment","z":"1045ba31.2123ee","name":"Getting devices of a resource group","info":"","x":220,"y":180,"wires":[]},{"id":"432381a4.b269d","type":"http request","z":"1045ba31.2123ee","name":"getResourceGroupByUser","method":"GET","ret":"obj","url":"https://jakzr4.internetofthings.ibmcloud.com/api/v0002/authorization/users/{{topic}}","tls":"","x":500,"y":499,"wires":[["8854a7c5.d175e"]]},{"id":"8854a7c5.d175e","type":"debug","z":"1045ba31.2123ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":499,"wires":[]},{"id":"76e9db67.24ea24","type":"inject","z":"1045ba31.2123ee","name":"spasija.taseva@fr.ibm.com update goup uid at the end of the payload","topic":"spasija.taseva@fr.ibm.com","payload":"{\"roles\":[{\"roleId\":\"PD_READER_USER\",\"roleStatus\":1}],\"rolesToGroups\":{\"PD_READER_USER\":[\"4f1b37b5-03cd-4e13-9610-65143363c4d5\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":360,"wires":[["51247655.ebae08"]]},{"id":"51247655.ebae08","type":"http request","z":"1045ba31.2123ee","name":"addResourceGroupToUser","method":"PUT","ret":"obj","url":"https://jakzr4.internetofthings.ibmcloud.com/api/v0002/authorization/users/{{topic}}/roles","tls":"","x":480,"y":400,"wires":[["47391dd1.b67454"]]},{"id":"47391dd1.b67454","type":"debug","z":"1045ba31.2123ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":400,"wires":[]},{"id":"e0ac6a05.52aee8","type":"comment","z":"1045ba31.2123ee","name":"Adding a user to a resource group","info":"","x":220,"y":320,"wires":[]},{"id":"f110bb09.08d658","type":"inject","z":"1045ba31.2123ee","name":"spasija.taseva@fr.ibm.com","topic":"spasija.taseva@fr.ibm.com","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":499,"wires":[["432381a4.b269d"]]},{"id":"ad8fce9.92529b","type":"comment","z":"1045ba31.2123ee","name":"Getting resource groups by user","info":"","x":210,"y":440,"wires":[]}]