Node-Red-txt/TextToSpeechNodered.txt
[{"id":"3240bd4d.a5b882","type":"watson-text-to-speech","z":"5852dc9d.6c0444","name":"Text to speech English","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":290,"y":180,"wires":[["fe6cc598.163ce8"]]},{"id":"fe6cc598.163ce8","type":"change","z":"5852dc9d.6c0444","name":"speech to payload","rules":[{"t":"set","p":"payload","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["46fb9094.65ad6"]]},{"id":"46fb9094.65ad6","type":"websocket out","z":"5852dc9d.6c0444","name":"Audio","server":"f192d20d.c8c8e","client":"","x":770,"y":180,"wires":[]},{"id":"a00703b.580dd8","type":"http in","z":"5852dc9d.6c0444","name":"","url":"/audio","method":"get","swaggerDoc":"","x":184.79998779296875,"y":380.01812744140625,"wires":[["7944a4c9.66f5bc"]]},{"id":"7944a4c9.66f5bc","type":"template","z":"5852dc9d.6c0444","name":"http page","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":495.8000030517578,"y":378.01812744140625,"wires":[["48b1695a.5c30d8"]]},{"id":"48b1695a.5c30d8","type":"http response","z":"5852dc9d.6c0444","name":"Audio output","x":741.3455352783203,"y":377.29083251953125,"wires":[]},{"id":"4086ca9b.6d859c","type":"comment","z":"5852dc9d.6c0444","name":"Web page to have the audio","info":"http://YourApplicationName.appdomain.cloud/audio","x":483,"y":441.9999542236328,"wires":[]},{"id":"f192d20d.c8c8e","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"}]